%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "#"} MyTasks
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li.divider
      %li.active
        %a{:href => "/tasks/new"} Tasks
      %li.divider
      %li
        %a{:href => "/priorities/new"} Priorities
      %li.divider
